:root {
    /*cores*/
    --branco: #FFFFFF;
    --cinza: #667085;
    --cinza-bordas: #EAECF0;
    --vermelho: #8E2424;
    --logo-titulo: #3A404E;
    --titulos: #101828;
    --vagas-abertas: rgba(142, 36, 36, 0.05);
    --secao-depoimentos: rgba(196, 25, 25, 0.03);

    /*fontes*/
    --fonte-principal: 'Inter', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
}

body {
    background-color: var(--branco);

    font-family: var(--fonte-principal);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;

    color: var(--titulos);
}

.cabecalho {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    height: 5rem;
}

.container {
    display: flex;
    align-items: center;

    gap: 0.5rem;
}

.cabecalho__logo-nome {
    font-size: 1.125rem;
    font-weight: 500;

    color: var(--logo-titulo);
}

.cabecalho__navegacao {
    display: flex;
    flex-basis: 42.5rem;
    gap: 1.5rem;
}

.navegacao__links {
    font-weight: 500;

    color: var(--cinza);

    text-decoration: none;
}

.navegacao__links:hover {
    color: var(--vermelho);
}

.cabecalho__botao {
    background: unset;

    padding: 0.625rem 1.125rem;

    font-weight: 500;

    text-align: center;
}

#botao-entrar {
    color: var(--cinza);

    transition: 0.5s;
}

#botao-entrar:hover {
    border-bottom: 0.0625rem solid var(--vermelho);

    color: var(--titulos);

    cursor: pointer;
}

#botao-cadastrar {
    background-color: var(--vermelho);

    border: 0.0625rem solid var(--vermelho);
    border-radius: 0.5rem;

    color: var(--branco);

    transition: 0.5s;
}

#botao-cadastrar:hover {
    background-color: var(--branco);

    color: var(--cinza);

    cursor: pointer;
}

.sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.5rem;

    text-align: center;

    padding: 6rem 0;
}

.sobre > span {
    color: var(--vermelho);

    font-weight: 600;
}

.sobre__titulo {
    font-size: 3rem;
    font-weight: 600;
    line-height: 3.75rem;
}

.sobre__texto {
    color: var(--cinza);

    font-size: 1.25rem;
    line-height: 1.875rem;

    width: 55%;
}

.metricas {
    display: flex;
    justify-content: space-evenly;

    padding: 0 4rem 6rem 4rem;
}

.metrica__numero {
    color: var(--vermelho);

    font-size: 3.75rem;
    font-weight: 600;
    line-height: 4.5rem;
}

.metrica__titulo {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.75rem;
}

.metrica__texto {
    color: var(--cinza);

    width: fit-content;
}

.metricas__projetos, 
.metricas__colaboradores, 
.metricas__downloads, 
.metricas__review {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    width: 17.5rem;
}

.vagas {
    padding: 6rem 0 6rem 0;
}

.vagas__talentos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.vagas__talentos span {
    background: var(--vagas-abertas);

    color: var(--vermelho);

    border-radius: 1rem;

    padding: 0.25rem 0.75rem;

    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
}

.talentos__titulo {
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 2.75rem;
}

.talentos__texto {
    font-size: 1.25rem;
    line-height: 1.875rem;

    color: var(--cinza);
}

.talentos__imagem {
    margin-top: 2rem;
}

.vagas__area-de-atuacao {
    display: flex;
    flex-direction: column;

    width: 50%;

    margin: 4rem auto 0 auto;
}

.area-de-atuacao__titulo {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.875rem;

    margin-bottom: 2rem;
}

.area-de-atuacao__vaga {
    border: 0.0625rem solid var(--cinza-bordas);
    border-radius: 1rem;

    padding: 1.5rem 1.5rem 1.75rem 1.5rem;

    margin-bottom: 1.5rem;
}

.vaga__titulo {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.75rem;
}

.vaga__informacoes {
    font-weight: 500;
    
    color: var(--cinza);

    margin-top: 2rem;
}

.vaga__informacoes > span {
    margin-right: 1rem;
}

.area-desenvolvimento {
    margin-top: 2rem;
}

.depoimentos {
    display: flex;
    flex-direction: column;
    align-items: center;

    background: var(--secao-depoimentos);

    width: 85%;

    margin: 0 auto;

    padding: 4rem 0;
}

.depoimentos__texto {
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.25rem;

    color: var(--vermelho);
}

.depoimentos__titulo {
    font-size: 2.25rem;
    font-weight: 500;
    line-height: 2.75rem;

    text-align: center;

    margin: 1rem 0 2rem 0;

    width: 90%;
}

.depoimentos__perfil-foto {
    width: 4.5%;

    margin-bottom: 1rem;
}

.depoimentos__perfil-nome {
    font-weight: 500;
}

.depoimentos__perfil-cargo {
    font-size: 0.875rem;
    line-height: 1.25rem;

    color: var(--cinza);
}
